.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(218, 16, 16);
  color: white;
  padding: 15px;
  font-size: 18px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 120px;
}

